.login-bg{
  background-image: url('./assets/images/authBackground.jpg') ;
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.width-25 {
  width: 25% !important;
}
.width-35{
  width: 40%!important;
}

.btn-primary{
  background-color: #3A3886!important;
}
.btn-text{
  font-size: 1.2rem!important;
  font-weight: 500!important;
}
.img-width{
  width: 50px;
  height: 50px;
}
.active {
  background-color: #4caf50; /* Some active state background color */
  color: white; /* Text color for active state */
  /* Add any other styles for active state */
}
.acd-pro Link{
  color: #000!important;
  text-decoration: none;
}
@media (max-width: 990px) {
  .width-25 {
    width: 100% !important;
  }
  .width-35{
    width: 100%!important;
  }
}

table tr td{
  text-transform: capitalize;
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Four columns */
  gap: 20px; /* Space between tables */
}

.table-container {
  /* border: 1px solid #ddd; */
  padding: 10px;
}

.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th, .table-container td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
.nav-link{
  color: #000!important;
}
/* Dashboard container layout */
.dashboard-container {
  display: flex;
  height: 100vh;
}

/* Sidebar styles */
.sidebar {
  background-color: #f8f9fa;
  transition: width 0.3s ease;
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}

.sidebar.open {
  width: 280px;
}

.sidebar.closed {
  width: 60px;
}

/* Toggle button styles */
.toggle-btn {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
.toggle-btn:hover {
  position: absolute;
  top: 20px;
  right: 0px;
  background-color: #007bff;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Navigation link styles */
.nav-item {
  margin: 10px 0;
}

.nav-link {
  color: #333;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.nav-link:hover, .nav-link.active {
  background-color: #4caf50;
  color: white!important;
  border-radius: 5px;
}

/* Main content area styles */
.main-content {
  flex-grow: 1;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.with-sidebar {
  margin-left: 20px;
}

.full-width {
  margin-left: 60px;
}

.content-wrapper {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
